<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header'); %>
    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Oi sou Jakeliny Gracielly instrutora de programação aqui na Rocketseat</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>